:root {
  --pagination-button-color: black;
  --pagination-border-color: #ddd;

  --pagination-button-active-background-color: #3498db;
  --pagination-button-active-color: white;
  --pagination-border-active-color: white;

  --pagination-button-hover-color: #ddd;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 10px;
}

.pagination a {
  width: 100px;
  color: var(--pagination-button-color);
  float: left;
  margin: 0 1px;
  padding: 8px 10px;
  text-decoration: none;
  border: 1px solid var(--pagination-border-color);;
  border-radius: 5px;
}

.pagination a.active {
  background-color: var(--pagination-button-active-background-color);
  color: var(--pagination-button-active-color);
  border: 1px solid var(--pagination-border-active-color);
}

.pagination a:hover:not(.active) {background-color: var(--pagination-button-hover-color);}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pagination .pagination_showing {
  margin: 10px;
}

.pagination .pagination_show_entries {
  margin-left: 10px;
}

.pagination .pagination_page_input {
  width: 65px;
  text-align: center;
  margin: 0;
}