.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.pagination a {
  width: 100px;
  color: black;
  float: left;
  padding: 8px 10px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #3498db;
  color: white;
  border: 1px solid #fff;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pagination .pagination_showing {
  margin: 10px;
}

.pagination .pagination_show_entries {
  margin-left: 10px;
}

.pagination .pagination_page_input {
  width: 65px;
  text-align: center;
  margin: 0;
}